@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor001: #0091EB;
    --cor002: #EBC917;
    --cor003: #393E46;
    --cor004: #222831; 

    --fonte-portfolio:'Pacifico','Roboto', sans-serif, cursive;
    --fonte-menus: 'Oswald', 'Roboto', sans-serif;
    --fonte-conteudo:'Roboto', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor004);
}

header{
    color: white; 
    background-color: var(--cor001);
    font-family: var(--fonte-menus);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

a{
    text-decoration: none;
    transition: 0.3s;
    color: white;
    font-family: var(--fonte-menus);
}

a:hover{
    opacity: 0.7;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}
.nav_list{
    list-style: none;
    display: flex;
}

.nav_list li{
    letter-spacing: 3px;
    margin-left: 32px;

}

.nav_list.active{
    transform: translateX(0);
}

.mobile_menu div{
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
}

.mobile_menu{
    display: block;
    cursor: pointer;
}

@media (max-width: 768px){
    body{
        overflow-x: hidden;
    }

    .nav_list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 100%;
        background-color: var(--cor001);
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;

    }
}

.itens_menu{
    margin-top: 2rem;
}

.links_menu{
    position: relative;
    color: white;
    text-decoration: none;
}

.links_menu:hover{
    position: relative;
}

.links_menu:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--cor004);
}

.activo::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--cor004);
    
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile_menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile_menu.active .line2{
    opacity: 0;    
}

.mobile_menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);   
}

h1{
    font-family: var(--fonte-portfolio);
    font-size: 1.5rem;
    font-style: italic;
}

main{
    padding: 10px;
    background-color: var(--cor003);
    margin: auto;
    min-width: 300px;
    max-width: 1100px;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: var(--fonte-conteudo);
}

.texto{
    color: var(--cor001);
    text-decoration: none;
}

.icon_portifolio{
    color: var(--cor001);
    font-family: var(--fonte-conteudo);
    font-size: 2.2rem;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte-conteudo);
    padding: 2rem 0;
    bottom: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.meu_nome{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.icone_redes{
    margin-bottom: 1rem;
}

.icones_redes_sociais{
    color: var(--cor001);
    font-size: 2rem;
    margin: 1rem;
}

.copy_right{
    font-size: 1.2rem;
}