@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor001: #0091EB;
    --cor002: #EBC917;
    --cor003: #393E46;
    --cor004: #222831; 

    --fonte-portfolio:'Pacifico','Roboto', sans-serif, cursive;
    --fonte-menus: 'Oswald', 'Roboto', sans-serif;
    --fonte-conteudo:'Roboto', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor004);
}

header{
    color: white;
    background-color: var(--cor001);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: var(--fonte-menus);
}

h1{
    font-family: var(--fonte-portfolio);
}

nav > a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
}

nav >a:hover{
    background-color: var(--cor03);
    border-radius: 5px;
    transition-duration: 0.5s;
}

main{
    padding: 10px;
}

.linkspfora{
    color: white;
    font-family: var(--fonte-conteudo);
    font-family: 16px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 6px;
    font-family: var(--fonte-conteudo);
}