@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor001: #0091EB;
    --cor002: #EBC917;
    --cor003: #393E46;
    --cor004: #222831; 

    --fonte-portfolio:'Pacifico','Roboto', sans-serif, cursive;
    --fonte-menus: 'Oswald', 'Roboto', sans-serif;
    --fonte-conteudo:'Roboto', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor004);
}

header{
    color: white;
    background-color: var(--cor001);
    font-family: var(--fonte-menus);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-family: var(--fonte-portfolio);
    font-size: 1.5rem;
    font-style: italic;
}

h2{
    margin-bottom: .5rem;
}

@media screen and (max-width: 768px){
    .menu_nav{
        position: fixed;
        top: 3rem;
        right: -100%;
        width: 70%;
        height: 100%;
        padding: 2rem;
        background-color: var(--cor003);
        transition: .5s;
    }
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.itens_menu{
    margin-bottom: 2rem;
}

.links_menu{
    position: relative;
    color: white;
    text-decoration: none;
}

.links_menu:hover{
    position: relative;
}

.links_menu:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--cor001);
}

.activo::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--cor001);
    
}

.menu_mobile{
    cursor: pointer;
    width: max-content;
    font-size: 2rem;
}

main{
  color: white;
  background-color: var(--cor003);
  margin: auto;
  min-width: 300px;
  max-width: 1100px;  
  margin-bottom: 20px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: var(--fonte-conteudo);
}

.texto_sobremim{
    font-size: 1.2rem;
}

main >p{
    text-align: justify;
    padding: 10px;
}

p > a{
   color: white;
   font-size: 18px; 
}

.link_cripton_tech{
    text-decoration:none;
    color: var(--cor001);
}

button{
    background-color: var(--cor001);
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    width: 180px;
    margin-top: 12px;
    margin-bottom: 5px;
}

.icones_redes_main{
    color: var(--cor001);
    font-size: 2rem;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte-conteudo);
    padding: 2rem 0;
}

.meu_nome{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.icone_redes{
    margin-bottom: 1rem;
}

.icones_redes_sociais{
    color: var(--cor001);
    font-size: 2rem;
    margin: 1rem;
}

.copy_right{
    font-size: 1.2rem;
}