@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor01:#0091EB;
    --cor02:#EBC917;
    --cor03:#393E46;
    --cor04:#222831; 
    
    --fonte-portfolio:'Pacifico','Roboto', sans-serif, cursive;
    --fonte-menus: 'Oswald', 'Roboto', sans-serif;
    --fonte-conteudo:'Roboto', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor04);
}

header{
    color: white; 
    background-color: var(--cor01);
    font-family: var(--fonte-menus);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 768px){
    .menu_nav{
        position: fixed;
        top: 3rem;
        right: 0%;
        width: 70%;
        height: 100%;
        padding: 2rem;
        background-color: var(--cor03);
        transition: .5s;
    }
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.itens_menu{
    margin-bottom: 2rem;
}

.links_menu{
    position: relative;
    color: white;
    text-decoration: none;
}

.links_menu:hover{
    position: relative;
}

.links_menu:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--cor01);
}

.activo::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--cor01);
    
}

.menu_mobile{
    cursor: pointer;
}

.show{
    right: 0;
}

h1{
    font-family: var(--fonte-portfolio);
    font-size: 1.5rem;
    font-style: italic;
}

main{
    color: white;
    background-color: var(--cor03);
    font-size: 16px;
    margin: auto;
    min-width: 300px;
    max-width: 1100px;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: var(--fonte-conteudo);
}

main >p{
    text-align: justify;
    padding: 5px;
}

button{
    background-color: var(--cor01);
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    width: 180px;
    margin-top: 12px;
    margin-bottom: 2rem;
}

.icones_redes{
    display: flex;
    flex-direction: column;

}

.icones_redes_sociais{
    width: max-content;
    font-size: 1.8rem;
    color: var(--cor01);
    margin-bottom: 1.5rem;

}

.imagem{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

