@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor01:#0091EB;
    --cor02:#EBC917;
    --cor03:#393E46;
    --cor04:#222831; 
    
    --fonte-portfolio:'Pacifico','Roboto', sans-serif, cursive;
    --fonte-menus: 'Oswald', 'Roboto', sans-serif;
    --fonte-conteudo:'Roboto', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor04);
}

header{
    color: white; 
    background-color: var(--cor01);
    font-family: var(--fonte-menus);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-family: var(--fonte-portfolio);
    font-size: 2em;
    font-style: italic;
}

h2{
    font-size: 4em;
}

nav > a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
}

nav > a:hover{
    background-color: var(--cor03);
    border-radius: 5px;
    transition-duration: 0.5s;
}

main{
    color: white;
    margin: auto;
    min-width: 430px;
    max-width: 1100px;
    background-color: var(--cor03);
    margin-bottom: 20px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

picture >img{
    width: 100%;
}
div{
    margin-top: 60px;
}

p{
    font-family: var(--fonte-conteudo);
    font-size: 20px;
    
}

button{
    background-color: var(--cor01);
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 5px;
    padding: 15px;
    width: 180px;
    border-radius: 15px;
}

footer{
    color: white;
    background-color: black;
    padding: 6px;
    text-align: center;
}
