@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;700;1,200&display=swap'); 

:root{
    --bag-black-900:#f2f2fc;
    --bag-black-100:#fdf9ff;
    --bag-black-50:#e8dfec;
    --text-black-900:#302e4d; 
    --text-black-700:#504e70;
    --cor01:#0091EB;
}

body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.section{
    background: var(--bag-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.main-content{
    padding-left: 270px;
}

.padd-15{
    padding-left: 15px;
    padding-right: 15px;

}

.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--cor01);
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.05);
}

.aside{
    background: var(--bag-black-100);
    display: flex;
    border-right: 1px solid var(--bag-black-50);
    position: fixed;
    width: 270px;
    left: 0;
    top: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.logo{
    position: absolute;
    top: 30px;
    font-size: 30px;
    text-transform: capitalize;
}

.logo a{
    color: #393E46;
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.logo a span{
    font-family: 'Clicker Script', cursive;
    font-size:40px ;
}

.logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #0091EB;
    border-left: 5px solid #0091EB;
    bottom: 0;
    left:0;
}

.logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid #0091EB;
    border-right: 5px solid #0091EB;
    top: 0;
    right: 0;
}

.nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bag-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background-color: var(--bag-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}

.nav-toggler span{
    height: 2px;
    width: 18px;
    background: var(--cor01);
    display: inline-block;
    position: relative;
}

.nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--cor01);
    position: absolute;
    top: -6px;
    left: 0;
}

.nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--cor01);
    position: absolute;
    top: 6px;
    left: 0;
}

li{
    margin-bottom: 20px;
    display: block;
}

li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bag-black-50);
    color: var(--text-black-900);
    padding: 5px 5px;
}

li a.active{
    color: #0091EB;
}

li a i{
    margin-right: 15px;
}



/*home*/

.home-info{
    flex:  0 0 60%;
    max-width: 60%;
}

h3.hello{
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span{
    font-family: 'Clicker Script' , cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--cor01);
}

h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
}

.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.typing{
    color: var(--cor01);
}

.home-img{
    flex:  0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home-img::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--cor01);
    border-right: 10px solid var(--cor01);
    right: 20px;
    bottom: -60px;
}

.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.home-img img{
    margin: auto;
    border-radius: 8px;
    height: 400px;
}