@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;700;1,200&display=swap'); 

:root{
    --bag-black-900:#f2f2fc;
    --bag-black-100:#fdf9ff;
    --bag-black-50:#e8dfec;
    --text-black-900:#302e4d; 
    --text-black-700:#504e70;
}

body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.section{
    background: var(--bag-black-900);
    min-height: 100vh;
    display: block;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
}

.aside{
    background: var(--bag-black-100);
    display: flex;
    position: fixed;
    width: 270px;
    left: 0;
    top: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.logo{
    position: absolute;
    top: 30px;
    font-size: 30px;
    text-transform: capitalize;
}

.logo a{
    color: #393E46;
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.logo a span{
    font-family: 'Clicker Script', cursive;
    font-size:40px ;
}

.logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #0091EB;
    border-left: 5px solid #0091EB;
    bottom: 0;
    left:0;
}

.logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid #0091EB;
    border-right: 5px solid #0091EB;
    top: 0;
    right: 0;
}

li{
    margin-bottom: 20px;
    display: block;
}

li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bag-black-50);
    color: var(--text-black-900);
    padding: 5px 5px;

}

li a.active{
    color: #0091EB;

}