@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor01:#0091EB;
    --cor02:#EBC917;
    --cor03:#393E46;
    --cor04:#222831; 
    
    --fonte-portfolio:'Pacifico','Roboto', sans-serif, cursive;
    --fonte-menus: 'Oswald', 'Roboto', sans-serif;
    --fonte-conteudo:'Roboto', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor04);
}

header{
    color: white; 
    background-color: var(--cor01);
    font-family: var(--fonte-menus);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a{
    text-decoration: none;
    transition: 0.3s;
    color: white;
    font-family: var(--fonte-menus);
}

a:hover{
    opacity: 0.7;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}
.nav_list{
    list-style: none;
    display: flex;
    margin-bottom: 1.5rem;
}

.nav_list li{
    letter-spacing: 3px;
    margin-left: 32px;

}

.activo::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 1.5rem;
    background-color: var(--cor04);
    
}

img{
    display: none;
}

@media (max-width: 768px){
    body{
        overflow-x: hidden;
    }

    header{
        color: white; 
        background-color: var(--cor01);
        font-family: var(--fonte-menus);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .mobile_menu{
        display: none;
    }

    .nav_list{
        display: flex;
    }

    .nav_list li{
        margin-left: 22px;
        margin-bottom: 20px;
    }

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
    }

    img{
       display: none; 
    }

    h1{
        font-family: var(--fonte-portfolio);
        font-size: 1.5rem;
        font-style: italic;
        margin-top: 2rem;
    }

    .activo::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 0.18rem;
        left: 0;
        top: 1.5rem;
        background-color: var(--cor04);
        
    }
    

}

@media (max-width: 460px){
    body{
        overflow-x: hidden;
    }
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .nav_list{
        position: absolute;
        top: 12vh;
        right: 0;
        width: 50vw;
        height: 65vh;
        background-color: var(--cor01);
        flex-direction: column;
        transform: translateX(0);
        transition: transform 0.3s ease-in;
        border-bottom-left-radius: 10px;
    }

    .mobile_menu{
        display: block;
    }

    img{
        width: 100%;
        height: auto;
        display: block;    
    }

    .mobile_menu{
        display: block;
        cursor: pointer;
        position: absolute;
        right: 0;
    }

    .mobile_menu div{
        width: 32px;
        height: 2px;
        background: white;
        margin: 8px;
        transition: 0.3s;
    }

    .activo::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 0.18rem;
        left: 0;
        top: 2rem;
        background-color: var(--cor04);
        
    }

    h1{
        font-family: var(--fonte-portfolio);
        font-size: 1.5rem;
        font-style: italic;
        margin: 1rem;
    }

}

.nav_list.active{
    transform: translateX(100%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile_menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile_menu.active .line2{
    opacity: 0;    
}

.mobile_menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);   
}
.itens_menu{
    margin-top: 2rem;
}

.links_menu{
    position: relative;
    color: white;
    text-decoration: none;
}

.links_menu:hover{
    position: relative;
}

.links_menu:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--cor04);
}

h1{
    font-family: var(--fonte-portfolio);
    font-size: 1.5rem;
    font-style: italic;
}

main{
    color: white;
    background-color: var(--cor03);
    font-size: 1rem;
    margin: auto;
    min-width: 300px;
    max-width: 1100px;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: var(--fonte-conteudo);
}

main >p{
    text-align: justify;
    padding: 5px;
}

.apresentacao{
    font-size: 1.3rem;
}

button{
    border: none;
    background-color: var(--cor01);
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    width: 180px;
    margin-top: 12px;
    margin-bottom: 1rem;
}


.icones_redes_sociais{
    width: max-content;
    font-size: 1.8rem;
    color: var(--cor01);
    margin-bottom: 1rem;

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte-conteudo);
    padding: 2rem 0;
}

.meu_nome{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.icones_redes_main{
    color: var(--cor01);
    font-size: 2rem;
}

.icone_redes{
    margin-bottom: 1rem;
}

.icones_redes_sociais{
    color: var(--cor01);
    font-size: 2rem;
    margin: 1rem;
}

.copy_right{
    font-size: 1.2rem;
}

